apipkg            1.5
astroid           2.4.2
attrs             20.2.0
certifi           2020.6.20
chardet           3.0.4
click             7.1.2
contextlib2       0.6.0.post1
execnet           1.7.1
Flask             1.1.2
idna              2.10
iniconfig         1.0.1
isort             5.6.3
itsdangerous      1.1.0
Jinja2            2.11.2
lazy-object-proxy 1.4.3
MarkupSafe        1.1.1
mccabe            0.6.1
mock              4.0.2
packaging         20.4
path              15.0.0
path.py           12.5.0
pluggy            0.13.1
py                1.9.0
pylint            2.6.0
pyparsing         2.4.7
pytest            6.1.1
pytest-shutil     1.7.0
requests          2.24.0
setuptools        49.2.1
six               1.15.0
termcolor         1.1.0
toml              0.10.1
urllib3           1.25.10
Werkzeug          1.0.1
wheel             0.34.2
wrapt             1.12.1
